
@font-face {
    font-family: "Ubuntu Titling";
    src: url(UbuntuTitling-Bold.ttf);
    descent-override: 15%;
}
@font-face {
    font-family: "Ubuntu Titling Full";
    src: url(UbuntuTitling-Bold.ttf);
    ascent-override: 85%;
}

body, html {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: "Ubuntu Titling";
    line-height: normal;
}
body{
    background-color: #3ca21e;
    user-select: none;
    overflow-x: hidden;
}

#screen_static{
    pointer-events: none;
    position: fixed;
    top: 0;
}
#mask{
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, transparent 82vh, black 85vh);
}
#screen_scroll{
    height: 100vh;
    overflow-y: auto;
}
#mid-scroll{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#mid-scroll::-webkit-scrollbar {
  display: none;
}

.screen_area{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.side_panel{
    width: 12.5vh;
}
.mid{
    width: 80%;
    height: 100%;
}
#mid-scroll{
    padding-top: 80vh;
    width: 80%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
}
.beerline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    padding-top: 3%;
}
.beerrow{
    flex-direction: row;
    height: 10vw;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;
    pointer-events: auto;
}
.beerspot {
    height: 12.5%;
    display: flex;
    cursor: pointer;
    position: relative;
}
.beerspot > img {
    position: absolute;
    height: 120%;
    display: none;
    margin-top: -2vh;
    left: -999999px;
    right: -999999px;
    margin-right: auto;
    margin-left: auto;

}


.beerspot > .beer {
    display: block;
}

.beerrow > .beerspot{
    height: 100%;
    width: 12.5%;
}
.hit{
    z-index: 1;
}
#top{
    z-index: 20;
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 60vh;
}
.menu {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vw;
    z-index: 100;
}
.menu > .buttonrow{
    width: 80%;
    margin: auto;
}
.menu > .inputrow{
    width: 90%;
    margin: auto;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 10vh;
    height: 10vh;

}
.toprow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.toprowsmaller {
    height: 20px;
}
.top_bar{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 70%;
    text-align: center;
    color: azure;
    font-size: 40px;

}
.teamname{
    width: 35%;
    padding-top: 10px;
    font-size: 30px;
}
.teamplayers{
    width: 30%;
    padding-top: 2px;
    font-size: 24px;
    margin-bottom: -20px;
}
.mid_padder{
    width: 10%;
}
.teamscore{
    width: 10%;
    padding-top: 5px;
}
#mid_thing{
    width: 10%;
    padding-top: 5px;
    pointer-events: auto;
    cursor: pointer;
}
#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 60px solid rgba(0, 0, 0, 0.6);
  border-right: 60px solid transparent;
}

#small-triangle-topleft {
  width: 0;
  height: 0;
  border-top: 20px solid rgba(0, 0, 0, 0.6);
  border-right: 20px solid transparent;
}
#triangle-topright {
  width: 0;
  height: 0;
  border-top: 60px solid rgba(0, 0, 0, 0.6);
  border-left: 60px solid transparent;
}
#small-triangle-topright {
  width: 0;
  height: 0;
  border-top: 20px solid rgba(0, 0, 0, 0.6);
  border-left: 20px solid transparent;
}
.clock_hold{
    width: 10%;
    background-color: rgba(0, 0, 0, 0.6);

}
#clock{
    width: 100%;
    color: #b2c0c0;
    font-size: 25px;
    margin-top: -10px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#clock > div {
    width: 15%;
}
.separator {
    width: 5% !important;
}
#StartupActions {
    display: flex;
}
.menutitle{
    text-align: center;
    font-size: 3.5rem;

}
.menulogtext{
    text-align: center;
    font-size: 1.8rem;

}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
}
.actionbutton {
    font-size: 2.6rem;
    background-color: rgba(86, 86, 86, 0.44);
    width: 100%;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
}
.actionbutton:hover{
    background-color: rgba(225, 225, 225, 0.44);

}

input{
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.94);
    border-radius: 3vw;
    padding: 1vw;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-family: "Ubuntu Titling Full";
    pointer-events: auto;
}
#team-emoji-input{
    font-family: sans-serif;
    font-size: 3rem;
    width: 4rem;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: rgba(178, 192, 192, 0);
}

#start-continue{
    display: none;
}

.actor{
    position: absolute;
    width: 110%;
    z-index: 10;
    padding-top: 45%;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9), 0 0 3px rgba(0, 0, 0, 0.9),0 0 3px rgba(0, 0, 0, 0.9),0 0 3px rgba(0, 0, 0, 0.9),0 0 3px rgba(0, 0, 0, 0.9),0 0 3px rgba(0, 0, 0, 0.9),0 0 3px rgba(0, 0, 0, 0.9);
    transform: rotate(15deg);
}
.outline{
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.9), 0 0 2px rgba(0, 0, 0, 0.9),0 0 2px rgba(0, 0, 0, 0.9),0 0 2px rgba(0, 0, 0, 0.9),0 0 2px rgba(0, 0, 0, 0.9),0 0 2px rgba(0, 0, 0, 0.9),0 0 2px rgba(0, 0, 0, 0.9);
}

#bottomtext{
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.feed_single{
    height: 10vh;
}
#feed_single{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    font-size: 0.9rem;
    height: 10vh;
}
#feed_single > div{
    margin-top: 1vh;
}

#full-feed-holder{
    padding-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1vh;
}
#feed-text{
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;
}
#feed{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.feedpadder{
    display: none;
}
#feed > .feedline > .feedpadder{
    width: 6.8rem;
    text-align: right;
    display: block;
}
.feed_line_end{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.feedline{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.05rem;
    gap: 10px;

}
.teamicon{
    margin-top: -0.1rem;
    font-size: 0.9rem;
    font-family: "Ubuntu Titling Full";
}
.teamemoji{
    padding-top: 0.1rem;
    font-family: "Ubuntu Titling Full";
}
.reportplayer{
    width: 30%;
}
.report_kills{
    width: 5%;
}
.report_flips{
    width: 16%;
}
.report_multi{
    width: 20%;
}

.clock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.clock > div {
    text-align: center;
    width: 0.8rem;
}
clock > .separator {
    width: 0.3rem;
}
.feedplayer{
    text-align: right;
    margin-right: 1.5rem;
}

.feedbeer{
    padding-left: 10px;
}
.feedbeer > img {
    height: 1.8rem;
    margin-top: -0.5rem;
    margin-left: -0.1rem;
}
.faded{
    opacity: 0.6;
    filter: saturate(20%);
}
.feedicon{
    height: 1.05rem;
}
.feedicon-disc{
    height: 1.2rem;
    margin-top: -0.1rem;
}
.hide > div{
    display: none !important;
}
.hideself{
    display: none !important;
}
#spectator_count{
    position: absolute;
    top:0;
    left:0;
    text-align: right;
    padding: 5px;
    font-size: 1.2rem;

}

#share{
    position: absolute;
    top:0;
    right:0;
    text-align: right;
    padding: 5px 10px;
    font-size: 1.8rem;

}
.popupbg{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(7, 7, 7, 0.8);

}
.popupbox{
    margin-top: 10%;
    padding: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vw;
    z-index: 100;
    background-color: rgb(166, 144, 79);

}
.popupbox .actionbutton{
    font-size: 1.2rem;

}
.label {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    pointer-events: auto;
    border-radius: 1.5vh;
    padding: 2vh 1vh;
}

@media screen and (orientation:portrait) {
    #screen_static{
        height: 60vh;
    }
    #mid-scroll{
        padding-top: 60vh;
        width: 100%;
    }
    .top{
        min-height: 6vh;
    }
    .feed_single{
        min-height: 6vh;
    }
    .menus{
        min-height: 36vh;

    }
    .side_panel{
        width: 4.3vh;
    }
    .beerspot{
        height: 9%;
    }
    .actor{
        font-size: 0.8rem;
    }
    .actionbutton {
        border-radius: 1.5vh;
        padding: 2vh 1vh;
    }
    html{
        font-size: 20px;
    }
    .menu > .buttonrow{
        width: 90%
    }
    .menu > .inputrow{
        width: 95%;
    }
    #feed_single{
        width: 90%;
    }
    #full-feed-holder{
        padding-top: 0;
        width: 90%;
    }
    #feed-text{
        width: 90%
    }
    #screen_scroll > .side_panel{
        width: 0;
    }
    #screen_scroll > .mid{
        width: 100%;
    }
    .feedline{
        font-size: 1.1rem;
    }

    .spectate-mid-scroll{
        padding-top: 14vh !important;
    }
    .beerline {
        height: 90%;
        padding-top: 10%;
    }
    #mask{
        -webkit-mask-image: linear-gradient(to bottom, transparent 0, transparent 57.5vh, black 58.7vh);
    }
}
@media screen and (orientation:landscape) {
    #screen_static{
        height: 100vh;
    }

    .screen_area {

    }
    .side_panel{
        width: 12.5vh;
    }
    .actionbutton {
        border-radius: 3vh;
        padding: 3vh 1.5vh;
    }
    html{
        font-size: 24px;
    }
    .menu > .buttonrow{
        width: 80%
    }
    .menu > .inputrow{
        width: 90%;
    }
    #feed_single{
        width: 80%
    }

    #full-feed-holder{
        width: 80%
    }
    #feed-text{
        width: 80%
    }
    .spectate-mid-scroll{
        padding-top: 10vh !important;
    }

}

@media only screen and (max-width: 1200px) {
    html{
        font-size: 18px;
    }
    .teamplayers{
        font-size: 22px;
    }
    .teamname{
        font-size: 26px;
    }
    .top_bar{
        font-size: 34px;
    }
    #clock{
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    html{
        font-size: 16px;
    }
    .teamplayers{
        font-size: 20px;
    }
    .teamname{
        font-size: 22px;
    }
    .top_bar{
        font-size: 30px;
    }
    #clock{
        font-size: 18px;
    }
}

.spectate-feed-text{
    padding-top: 10px !important;
}
.spectate-mask{
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, transparent 10vh, black 15vh) !important;

}

.popupbox .actionbutton{
    font-size: 1.2rem !important;
    border-radius: 1.5vh !important;
    padding: 2vh 1vh !important;
}